target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.iml
.idea/
.DS_Store
App.java
metadata_crawler_deploy/
metadata_service_deploy/
op_deploy/
test/
skrbt_deploy/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
aiyawocao/bittorrent/src/main/resources/
aiyawocao/logs/
