<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile fileName="/var/log/aiyawocao/metadata-crawler.log" filePattern="/var/log/aiyawocao/metadata-crawler.log.%d{yyyyMMdd}"
      name="aiyawocao">
      <PatternLayout pattern="%d %p %c{1}: %m%n"/>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
        <TimeBasedTriggeringPolicy modulate="true"/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="/var/log/aiyawocao/" maxDepth="1">
          <IfFileName glob="metadata-crawler.log.*" />
          <IfLastModified age="2d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="aiyawocao"></AppenderRef>
    </Root>
  </Loggers>
</Configuration>
