<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title th:text="${metadata.getName()} + ' - 磁力链接与种子下载'"></title>
  <meta name="keywords" content="小王磁力,磁力搜索,磁力链接,种子搜索,迅雷下载,种子搜索网站,BT天堂,BT搜索"/>
  <meta name="description" content="磁力链接搜索引擎小王磁力(xiaowang.icu)索引了全球最新最热门的BT种子信息和磁力链接，提供磁力链接搜索、BT搜索、种子搜索等强大功能。"/>

  <link rel="shortcut icon" href="/img/xiaowang/favicon.ico" type="image/x-icon"/>

  <!-- Bootstrap -->
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet">

  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/xiaowang/style.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149375915-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-149375915-3');
  </script>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <a href="/"><img src="/img/xiaowang/laowang.png" class="img-responsive center-block logo-img" alt="Responsive image"></a>

      <form id="search-form" action="/search" method="get" accept-charset="utf-8">
        <div class="input-group" style="width: 100%">
          <input type="text" name="keyword" class="form-control search-input" placeholder="输入电影、电视、演员等磁力链接资源名称...">
          <span class="input-group-btn">
              <button class="btn btn-success search-btn" type="submit"><strong>磁力搜索</strong></button>
            </span>
        </div>
      </form>

      <div class="panel panel-default detail-panel">
        <div class="panel-heading" style="background-color: #ffffff; border-color: #5cb85c">
          <h3 class="panel-title" style="color: #5cb85c">
            <i class="fa fa-list" aria-hidden="true"></i>
            <strong>种子名称</strong>
          </h3>
        </div>
        <div class="panel-body">
          <p th:text="${metadata.getName()}" style="margin-bottom: 0px"/>
        </div>
      </div>

      <div class="panel panel-default detail-panel">
        <div class="panel-heading" style="background-color: #ffffff; border-color: #5cb85c">
          <h3 class="panel-title" style="color: #5cb85c">
            <i class="fa fa-list" aria-hidden="true"></i>
            <strong>种子详情</strong>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled" style="margin-bottom: 0px">
            <li th:text="'文件数目：' + ${metadata.getFileNum()}"/>
            <li th:text="'文件大小：' + ${metadata.getHumanFileSize()}"/>
            <li th:text="'收录时间：' + ${metadata.getDate()}"/>
            <li th:text="'种子哈希：' + ${metadata.getInfohash()}"/>
          </ul>
        </div>
      </div>

      <div class="panel panel-default detail-panel">
        <div class="panel-heading" style="background-color: #ffffff; border-color: #5cb85c">
          <h3 class="panel-title" style="color: #5cb85c">
            <i class="fa fa-list" aria-hidden="true"></i>
            <strong>资源下载</strong>
          </h3>
        </div>
        <div class="panel-body">
          <p>
            <a title="bitqiu" class="btn btn-primary" target="_blank" style="border-radius: 0px;"
               th:href="'https://pan.bitqiu.com/promote-invite?mafrom=promote&mipos=cps&uid=108402133&agentdown=magnet:?xt=urn:btih:' + ${metadata.getInfohash()}">
              在线播放
            </a>
            <a title="bitqiu" class="btn btn-info" target="_blank" style="border-radius: 0px;"
               th:href="'https://pan.bitqiu.com/promote-invite?mafrom=promote&mipos=cps&uid=108402133&agentdown=magnet:?xt=urn:btih:' + ${metadata.getInfohash()}">
              离线下载
            </a>
          </p>
        </div>
      </div>

      <div class="panel panel-default detail-panel">
        <div class="panel-heading" style="background-color: #ffffff; border-color: #5cb85c">
          <h3 class="panel-title" style="color: #5cb85c">
            <i class="fa fa-list" aria-hidden="true"></i>
            <strong>磁力链接</strong>
          </h3>
        </div>
        <div class="panel-body">
          <i class="fa fa-magnet"></i>
          <a th:href="'magnet:?xt=urn:btih:' + ${metadata.getInfohash()}"
             th:text="'magnet:?xt=urn:btih:' + ${metadata.getInfohash()}"></a>
        </div>
      </div>

      <div class="panel panel-default detail-panel">
        <div class="panel-heading" style="background-color: #ffffff; border-color: #5cb85c">
          <h3 class="panel-title" style="color: #5cb85c">
            <i class="fa fa-list" aria-hidden="true"></i>
            <strong>文件列表</strong>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled" style="margin-bottom: 0px">
            <li th:each="file : ${metadata.getDigestFiles(100)}" style="margin-top: 5px">
              <span th:utext="${file.getKey()}"/>
              <span th:text="${file.getValue()}" class="badge" style="background-color: #5cb85c"/>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default bottom-panel">
        <div class="panel-body" style="text-align: center">
          Copyright ©2019
          <a href="/">小王磁力</a>
          <a href="mailto:xiaowangcili@gmail.com">联系我们</a>
        </div>
      </div>

    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
  (function () {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    } else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
</body>
</html>
