<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT_ROOT" target="SYSTEM_OUT">
            <PatternLayout pattern="ROOT:%d %-5p %C %L - %m%n" />
        </Console>
        <RollingFile name="aiyawocao" fileName="./logs/log.log" filePattern="./logs/logs_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d %p %c{1} %m%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
                <TimeBasedTriggeringPolicy modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="aiyawocao"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>