<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile fileName="./logs/ops.log" filePattern="./logs/ops.log.%d{yyyyMMdd}.%i"
      name="aiyawocao">
      <PatternLayout pattern="%d %p %c{1}: %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="500 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="5"/>
    </RollingFile>
    <RollingFile fileName="./logs/metadata/metadata.log" filePattern="./logs/metadata/metadata.%d{yyyyMMdd}.%i.zip"
      name="metadata">
      <PatternLayout pattern="%m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="500 MB"/>
        <TimeBasedTriggeringPolicy modulate="true"/>
      </Policies>
    </RollingFile>
    <RollingFile fileName="./logs/indexerror.log" filePattern="./logs/indexerror.%d{yyyyMMdd}.%i.zip" name="indexerror">
      <PatternLayout pattern="%d %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="500 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="aiyawocao"></AppenderRef>
    </Root>
    <logger additivity="false" name="metadata">
      <level value="info"/>
      <appender-ref ref="metadata"/>
    </logger>
    <logger additivity="false" name="indexerror">
      <level value="info"/>
      <appender-ref ref="indexerror"/>
    </logger>
  </Loggers>
</Configuration>
