<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile name="aiyawocao" fileName="./logs/ops.log"
      filePattern="./logs/ops.log.%d{yyyyMMdd}.%i">
      <PatternLayout pattern="%d %p %c{1}: %m%n"/>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
        <TimeBasedTriggeringPolicy modulate="true"/>
      </Policies>
      <DefaultRolloverStrategy max="5"/>
    </RollingFile>
    <RollingFile name="metadata" fileName="./logs/metadata/metadata.log"
      filePattern="./logs/metadata/metadata.%d{yyyyMMdd}.%i.zip">
      <PatternLayout pattern="%m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="500 MB"/>
        <TimeBasedTriggeringPolicy modulate="true"/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="aiyawocao"></AppenderRef>
    </Root>
    <logger name="metadata" additivity="false">
      <level value="info"/>
      <appender-ref ref="metadata"/>
    </logger>
  </Loggers>
</Configuration>
