<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile fileName="/var/log/aiyawocao/metadata-service.log" filePattern="/var/log/aiyawocao/metadata-service.log.%d{yyyyMMdd}"
      name="aiyawocao">
      <PatternLayout pattern="%d %p %c{1}: %m%n"/>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
        <TimeBasedTriggeringPolicy modulate="true"/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="/var/log/aiyawocao/" maxDepth="1">
          <IfFileName glob="metadata-service.log.*" />
          <IfLastModified age="2d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <RollingFile fileName="/data/aiyawocao/metadata/human/metadata.log" filePattern="/data/aiyawocao/metadata/human/metadata.%d{yyyyMMdd}.%i.zip"
      name="metadata">
      <PatternLayout pattern="%m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="500 MB"/>
        <TimeBasedTriggeringPolicy modulate="true"/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="aiyawocao"></AppenderRef>
    </Root>
    <logger additivity="false" name="metadata">
      <level value="info"/>
      <appender-ref ref="metadata"/>
    </logger>
  </Loggers>
</Configuration>
