<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile name="aiyawocao" fileName="/var/log/aiyawocao/metadata-service.log"
                 filePattern="/var/log/aiyawocao/metadata-service.log.%d{yyyy-MM-dd}.%i">
      <PatternLayout pattern="%d %p %c{1}: %m%n"/>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
        <TimeBasedTriggeringPolicy modulate="true"/>
      </Policies>
      <DefaultRolloverStrategy max="5"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="aiyawocao"></AppenderRef>
    </Root>
  </Loggers>
</Configuration>