<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detail</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
</head>
<body>
<div class="container">
  <div class="site-wrapper-border"></div>
  <div class="header">
    <div class="header-content">
      <a href="https://btdb.to/"><img src="../static/img/logo_40.png" alt="BTDB LOGO" class="logo"></a>
      <div class="search-area">
        <form action="/search" method="get" accept-charset="utf-8" class="search-form">
          <input type="text" id="search-input" value="建国大业" title="BTDB Search" name="keyword" maxlength="2048" class="search-input" aria-haspopup="false">
          <button class="search-btn"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="torrent-page">
    <div class="torrent-content clearfix">
      <div class="torrent-info">
        <h1 class="torrent-name">建国大业+建党伟业</h1>
        <dl class="torrent-meta-info clearfix">
          <div class="meta-info clearfix">
            <div class="meta-info-left">
              <dt>文件大小</dt>
              <dd>1.23 GB</dd>
              <dt>文件数量</dt>
              <dd>5</dd>
              <dt>热度</dt>
              <dd>393</dd>
              <dt>创建时间</dt>
              <dd>
                2012-05-31 19:03:55
              </dd>
              <dt>Info Hash</dt>
              <dd>97B3D96F4BF5BC3A8D75E41EAB11D98DABCC997E</dd>
            </div>
          </div>
          <dt>关键词</dt>
          <dd>
            <a href="https://zh.btdb.to/q/%E5%BB%BA%E5%9B%BD%E5%A4%A7%E4%B8%9A/" class="tag" rel="tag">建国大业</a>
            <a href="https://zh.btdb.to/q/%E5%BB%BA%E5%85%9A%E4%BC%9F%E4%B8%9A/" class="tag" rel="tag">建党伟业</a>
          </dd>
          <dt>磁力链接</dt>
          <dd>
            <i class="fa fa-magnet"></i> <a title="Magnet Link" href="magnet:?xt=urn:btih:97B3D96F4BF5BC3A8D75E41EAB11D98DABCC997E&amp;dn=%E5%BB%BA%E5%9B%BD%E5%A4%A7%E4%B8%9A%2B%E5%BB%BA%E5%85%9A%E4%BC%9F%E4%B8%9A&amp;tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&amp;tr=udp%3A%2F%2Fopen.demonii.com%3A1337&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce" class="magnet" onclick="popup();">magnet:?xt=urn:btih:97B3D96F4BF5BC3A8D75E41EAB11D98DABCC997E...</a>
          </dd>
        </dl>
        <div class="sponsor">
          <iframe src="./建国大业+建党伟业 - 磁力链接 - BT种子下载 - BTDB_files/ipvanish_affiliate.html" width="728px" height="90px" frameborder="0" scrolling="no" style="display: none !important;"></iframe>
        </div>
        <h2>文件列表</h2>
        <table class="torrent-file-list">
          <tbody>
          <tr>
            <td class="file-size">556.59 MB</td>
            <td>
              <span class="file-icon"><i class="fa fa-file-video-o"></i></span>
              <span class="file-name">
建党伟业(蓝光).mp4
</span>
            </td>
          </tr>
          <tr>
            <td class="file-size">353.41 MB</td>
            <td>
              <span class="file-icon"><i class="fa fa-file-video-o"></i></span>
              <span class="file-name">
建国大业_2009_CD1.rmvb
</span>
            </td>
          </tr>
          <tr>
            <td class="file-size">351.99 MB</td>
            <td>
              <span class="file-icon"><i class="fa fa-file-video-o"></i></span>
              <span class="file-name">
建国大业_2009_CD2.rmvb
</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div class="footer">
    <div class="footer-content">
      <div class="pull-left">
        © 2016 BTDB.to | Bitcoin: <a href="bitcoin:17DzhgMEWyFBB9he3fhDJwpbECUJdGct58">17DzhgMEWyFBB9he3fhDJwpbECUJdGct58</a>
      </div>
      <div class="pull-right">
        <a href="https://btdb.to/">SSL</a> | <a href="https://zh.btdb.to/about">关于</a> |
      </div>
      <div class="disclaimer pull-left">
        BTDB (btdb.to) is not a tracker and doesn't store any content and only collects torrent metadata (such as file names and file sizes) and a magnet link (torrent identifier). This means BTDB is the entirely legal system.
      </div>
    </div>
  </div>
<div class="adsbox">&nbsp;</div>
</body>
</html>