<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head>
  <meta charset="UTF-8">
  <title>Detail</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/jquery.treeview.css" type="text/css">
  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery.treeview.js"></script>
</head>
<body>
<div class="container">
  <div class="site-wrapper-border"></div>
  <div class="header">
    <div class="header-content">
      <a href="https://btdb.to/"><img src="/img/logo_40.png" alt="BTDB LOGO" class="logo"></a>
      <div class="search-area">
        <form action="/search" method="get" accept-charset="utf-8" class="search-form">
          <input type="text" id="search-input" value="" title="BTDB Search" name="keyword"
                 maxlength="2048" class="search-input" aria-haspopup="false">
          <button class="search-btn"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="torrent-page">
    <div class="torrent-content clearfix">
      <div class="torrent-info">
        <h1 class="torrent-name" th:text="${metadata.getName()}"></h1>
        <dl class="torrent-meta-info clearfix">
          <div class="meta-info clearfix">
            <div class="meta-info-left">
              <dt>文件大小</dt>
              <dd th:text="${metadata.getHumanFileSize()}"></dd>
              <dt>文件数量</dt>
              <dd th:text="${metadata.getFileNum()}"></dd>
              <dt>热度</dt>
              <dd th:text="${metadata.getPopularity()}"></dd>
              <dt>创建时间</dt>
              <dd th:text="${metadata.getDate()}"></dd>
              <dt>Info Hash</dt>
              <dd th:text="${metadata.getInfohash()}"></dd>
            </div>
          </div>
          <dt>关键词</dt>
          <dd>
            <a href="https://zh.btdb.to/q/%E5%BB%BA%E5%9B%BD%E5%A4%A7%E4%B8%9A/" class="tag"
               rel="tag">建国大业</a>
            <a href="https://zh.btdb.to/q/%E5%BB%BA%E5%85%9A%E4%BC%9F%E4%B8%9A/" class="tag"
               rel="tag">建党伟业</a>
          </dd>
          <dt>磁力链接</dt>
          <dd>
            <i class="fa fa-magnet"></i> <a title="Magnet Link"
                                            th:href="'magnet:?xt=urn:btih:' + ${metadata.getInfohash()}"
                                            th:text="'magnet:?xt=urn:btih:' + ${metadata.getInfohash()}"
                                            class="magnet" onclick="popup();"></a>
          </dd>
        </dl>
        <h2>文件列表</h2>
        <ul id="browser" class="filetree treeview" th:utext="${metadata.getFileTree()}">
        </ul>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <div class="pull-left">
          © 2016 BTDB.to | Bitcoin: <a href="bitcoin:17DzhgMEWyFBB9he3fhDJwpbECUJdGct58">17DzhgMEWyFBB9he3fhDJwpbECUJdGct58</a>
        </div>
        <div class="pull-right">
          <a href="https://btdb.to/">SSL</a> | <a href="https://zh.btdb.to/about">关于</a> |
        </div>
        <div class="disclaimer pull-left">
          BTDB (btdb.to) is not a tracker and doesn't store any content and only collects torrent
          metadata (such as file names and file sizes) and a magnet link (torrent identifier). This
          means BTDB is the entirely legal system.
        </div>
      </div>
    </div>
    <div class="adsbox">&nbsp;</div>
  </div>
</div>
</body>
<script type="text/javascript">
  $(document).ready(function(){
    $("#browser").treeview({
      toggle: function() {
        console.log("%s was toggled.", $(this).find(">span").text());
      }
    });
  });
</script>
</html>