<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head>
  <meta charset="UTF-8">
  <title th:text="${metadata.getName()} + ' - 磁力链接与种子下载'"></title>
  <meta name="keywords" content="种子搜索,磁力搜索,磁力链接,种子搜索神器,BT种子下载,p2p种子搜索器" />
  <meta name="description" th:content="${metadata.getName()} + ' 种子,磁力链接'" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/jquery.treeview.css" type="text/css">
  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery.treeview.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?88a96a4af334169bd6492b8c714822aa";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>
<div class="container">
  <div class="site-wrapper-border"></div>
  <div class="header">
    <div class="header-content">
      <a href="http://skrbt.club/"><img src="/img/logo.png" alt="SKRBT LOGO" class="logo"></a>
      <div class="search-area">
        <form action="/search" method="get" accept-charset="utf-8" class="search-form">
          <input type="text" id="search-input" value="" title="SKRBT Search" name="keyword"
                 maxlength="2048" class="search-input" aria-haspopup="false">
          <button class="search-btn"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="torrent-page">
    <div class="torrent-content clearfix">
      <div class="left-content">
        <div id="ad-lh" style="width:800px;padding-top:4px;" onmouseover="onMouseOverAd()" onmouseout="onMouseOutAd()">
          <!-- ad code -->
        </div>
        <div class="torrent-info">
          <h1 class="torrent-name" th:text="${metadata.getName()}"></h1>
          <dl class="torrent-meta-info clearfix">
            <div class="meta-info clearfix">
              <div class="meta-info-left">
                <dt>文件大小</dt>
                <dd th:text="${metadata.getHumanFileSize()}"></dd>
                <dt>文件数量</dt>
                <dd th:text="${metadata.getFileNum()}"></dd>
                <dt>热度</dt>
                <dd th:text="${metadata.getPopularity()}"></dd>
                <dt>创建时间</dt>
                <dd th:text="${metadata.getDate()}"></dd>
                <dt>Info Hash</dt>
                <dd th:text="${metadata.getInfohash()}"></dd>
              </div>
            </div>
            <dt>关键词</dt>
            <dd>
              <a class="tag" rel="tag" th:each="key : ${keywords}" th:href="'/search?keyword=' + ${key}" th:text="${key}"></a>
            </dd>
            <dt>磁力链接</dt>
            <dd>
              <i class="fa fa-magnet"></i>
              <a title="Magnet Link" id="magnet" class="hide text-hide"
                 th:href="'magnet:?xt=urn:btih:' + ${metadata.getInfohash()}"
                 th:text="'magnet:?xt=urn:btih:' + ${metadata.getInfohash()}"
                 onclick="popup();"></a>
              <a id="fakemagnet" class="magnet" href="javascript:void(0)" onclick="showMagnet()">
                获取下载链接
              </a>
            </dd>
          </dl>
          <h2>文件列表</h2>
          <ul id="metadata-detail" class="filetree treeview" th:utext="${metadata.getFileTree()}">
          </ul>
        </div>
      </div>
      <div class="right-content">
        <div id="ad-r">
          <!-- ad code -->
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <div class="pull-left">
          @2018 <a href="http://skrbt.club/">SkrBT</a> is not a tracker and doesn't store any content and only collects torrent
          metadata (such as file names and file sizes) and a magnet link (torrent identifier). This
          means SKRBT is the entirely legal system. | <a href="/about">About</a>
        </div>
      </div>
    </div>
    <div class="adsbox">&nbsp;</div>
  </div>
</div>
</body>
<script type="text/javascript">
  $(document).ready(function(){
    $("#metadata-detail").treeview({
      toggle: function() {
        console.log("%s was toggled.", $(this).find(">span").text());
      }
    });
  });
</script>
<script>
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
<script type="text/javascript">
  if (!isPC()) {
    document.getElementById('ad-lh').style.display = 'none';
    doShowMagnet();
  } else {
    if (!needClickAd()) {
      doShowMagnet();
    } else {
      window.addEventListener("visibilitychange", onVisibilityChange);
    }
  }

  var remain = 30;
  var stopTimer = false;
  var needStartTimer = true;
  function showMagnet() {
    if (!needClickAd()) {
      doShowMagnet();
      return;
    }

    if (needStartTimer) {
      needStartTimer = false;
      onTimer();
    }
  }

  function doShowMagnet() {
    document.getElementById("fakemagnet").setAttribute("class", "hide text-hide");
    document.getElementById("magnet").setAttribute("class", "magnet");
  }

  function onTimer() {
    if (stopTimer) {
      return;
    }

    if (remain == 0) {
      doShowMagnet();
    } else {
      document.getElementById("fakemagnet").innerHTML = "点击任意广告 或 耐心等待 " + remain + " 秒";
      remain -= 1;
      setTimeout("onTimer()", 1000);
    }
  }

  var mouseOverAd = false;
  var showMagnetOnVisibility = false;
  function onMouseOverAd() {
    mouseOverAd = true;
  }
  function onMouseOutAd() {
    mouseOverAd = false;
  }
  function onVisibilityChange() {
    if(document.hidden) {
      if (mouseOverAd) {
        showMagnetOnVisibility=true;
      }
    } else {
      if (showMagnetOnVisibility) {
        stopTimer = true;
        setCookie("clickad", "skrbt");
        doShowMagnet();
      }
    }
  }

  function needClickAd() {
    var hasCookie = getCookie("clickad");
    return !hasCookie;
  }
  function setCookie(name, value) {
    document.cookie = name + '=' + escape(value) + ";path=/";;
  }
  function getCookie(name)
  {
    var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)"); //正则匹配
    if(arr=document.cookie.match(reg)){
      return unescape(arr[2]);
    }
    else{
     return null;
    }
  }

  function isPC() {
    var p = navigator.platform;
    if ((p.indexOf("Win") == 0) || (p.indexOf("Mac") == 0) || (p.indexOf("X11") == 0) || (p.indexOf("Linux") == 0)) {
      return true;
    }
  }
</script>
</html>
