<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head>
  <meta charset="UTF-8">
  <title>SkrBT - 专业的种子搜索、磁力链接搜索引擎</title>
  <meta name="keywords" content="种子搜索,磁力搜索,磁力链接,种子搜索神器,BT种子下载,p2p种子搜索器" />
  <meta name="description" content="SkrBT - 专注于从DHT网络爬取种子和磁力链接,目前索引了上千万的磁力链接,资源涵盖了电影、剧集、音乐、图书、图片、综艺、软件、动漫、教程、游戏等领域,是全银河系资源最丰富的种子搜索、磁力链接搜索专业网站。" />
  <meta name="revisit-after" content="1 days" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?88a96a4af334169bd6492b8c714822aa";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>
<div class="container container-index">
  <div class="site-wrapper-border"></div>
  <div class="index">
    <div class="index-logo">
      <img width="304" height="93" src="/img/logo.png" alt="SKRBT LOGO" class="logo">
    </div>
    <div class="search-area">
      <form action="/search" method="get" accept-charset="utf-8" class="search-form">
        <input type="text" name="keyword" maxlength="2048" class="search-input"
               placeholder="Indexing 127,911,028 torrents">
        <button class="search-btn"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="recent-link">
      <a th:each="word : ${hotWords}" th:href="'/search?keyword=' + ${word}" th:text="${word} + '&nbsp'"></a>
      <font size="5" color="red">网站维护升级中! 请耐心等待!</font>
      <!--<a href="/recent">最新收录</a>-->
    </div>
    <h2>@SkrBT 磁力链接、BT 种子搜索引擎 | <a href="/recent">Recent</a> | <a href="/about">About</a></h2>
    <!--<div class="recent-link">-->
      <!--<a href="/recent">最新收录</a>-->
    <!--</div>-->
  </div>
</div>
</body>
<script>
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
</html>
