<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head>
  <meta charset="UTF-8">
  <title th:text="${keyword} + '磁力链接&种子下载 SKRBT'">Search</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
  <div class="site-wrapper-border"></div>
  <div class="header">
    <div class="header-content">
      <a href="http://skrbt.club/"><img src="/img/logo.png" alt="SKRBT LOGO" class="logo"></a>
      <div class="search-area">
        <form action="/search" method="get" accept-charset="utf-8" class="search-form">
          <input type="text" id="search-input" th:value="${keyword}" title="SKRBT Search"
                 name="keyword"
                 maxlength="2048" class="search-input" aria-haspopup="false">
          <button class="search-btn"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="toolbar">
    <span class="sort">Order by: </span>
    <span class="active">Relevance</span>
    <a href="/recent?sort=size">Size</a>
    <a href="/recent?sort=filenum">Files</a>
    <a href="/recent?sort=date">AddTime</a>
    <a href="/recent?sort=popularity">Popularity</a>
  </div>
  <div class="content clearfix">
    <div class="left-content">
      <h1 class="hide text-hide" , th:text="${keyword} + 'search result, Torrent Magnet'"></h1>
      <div class="result-stats"
           th:text="'About ' + ${result.getTotalHits()} + ' results (' + ${result.getTook()} + ')'"></div>
      <div class="search-ret">
        <ul class="search-ret-list">
          <li class="search-ret-item" th:each="metadata : ${result.getMetadatas()}">
            <h2 class="item-title"><a
                th:href="'/detail/' + ${metadata.getMagic()} + '/' + ${metadata.getInfohash()}"
                th:title="${metadata.getName()}"><span
                class="highlight" th:text="${metadata.getName()}"></span></a></h2>
            <div class="item-meta-info">
              <a title="Download using magnet"
                 th:href="'magnet:?xt=urn:btih:' + ${metadata.getInfohash()}" class="magnet"
                 onclick="popup();"><i class="fa fa-magnet"></i> Magnet Link</a>
              Size: <span class="item-meta-info-value" th:text="${metadata.getHumanFileSize()}"/>
              Files: <span class="item-meta-info-value" th:text="${metadata.getFileNum()}"/>
              AddTime: <span class="item-meta-info-value" th:text="${metadata.getDate()}"/>
              Popularity: <span class="item-meta-info-value" th:text="${metadata.getPopularity()}"/>
            </div>
            <ul class="item-file-list">
              <li class="file" th:each="file : ${metadata.getDigestFiles()}">
                <span class="file-icon"><i class="fa fa-file-video-o"></i></span>
                <span class="file-name" th:text="${file.getKey()}"/>
                <span class="file-size" th:text="${file.getValue()}"/>
              </li>
              <li th:if="${metadata.getFileNum() gt 10}">...</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="nav">
        <nav role="navigation">
          <ul class="pagination">
            <li class="button">
              <a th:href="'/recent?&p=' + ${pre}">« Previous</a>
            </li>
            <li th:each="i : ${#numbers.sequence(startPage, startPage + pageNum - 1)}"
                class="button">
              <a th:href="'/recent?&p=' + ${i}" th:text="${i}"
                 th:if="${i} != ${curPage}"></a>
              <strong th:text="${i}" th:if="${i} == ${curPage}"></strong>
            </li>
            <li class="button">
              <a th:href="'/recent?&p=' + ${next}">Next »</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <div class="pull-left">
          © 2018 SKRBT.com
        </div>
        <div class="pull-right">
          <a href="http://skrbt.club/">SSL</a> | <a href="http://skrbt.club/about">About</a>
        </div>
        <div class="disclaimer pull-left">
          SKRBT (skrbt.com) is not a tracker and doesn't store any content and only collects torrent
          metadata (such as file names and file sizes) and a magnet link (torrent identifier). This
          means SKRBT is the entirely legal system.
        </div>
      </div>
    </div>
  </div>
  <div class="adsbox">&nbsp;</div>
</div>
</body>
</html>