<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head>
  <meta charset="UTF-8">
  <title>SkrBT - 专业的种子搜索、磁力链接搜索引擎</title>
  <meta name="keywords" content="种子搜索,磁力搜索,磁力链接,种子搜索神器,BT种子下载,p2p种子搜索器" />
  <meta name="description" content="SkrBT - 专注于从DHT网络爬取种子和磁力链接,目前索引了上千万的磁力链接,资源涵盖了电影、剧集、音乐、图书、图片、综艺、软件、动漫、教程、游戏等领域,是全银河系资源最丰富的种子搜索、磁力链接搜索专业网站。" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?88a96a4af334169bd6492b8c714822aa";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>
<div class="container">
  <div class="site-wrapper-border"></div>
  <div class="header">
    <div class="header-content">
      <a href="http://skrbt.club/"><img src="/img/logo.png" alt="SKRBT LOGO" class="logo"></a>
      <div class="search-area">
        <form action="/search" method="get" accept-charset="utf-8" class="search-form">
          <input type="text" id="search-input" th:value="${keyword}" title="SKRBT Search"
                 name="keyword"
                 maxlength="2048" class="search-input" aria-haspopup="false">
          <button class="search-btn"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="content clearfix">
    <div class="left-content">
      <h1 class="hide text-hide" , th:text="${keyword} + 'search result, Torrent Magnet'"></h1>
      <div class="result-stats"></div>
      <div class="search-ret">
        <ul class="search-ret-list">
          <li class="search-ret-item" th:each="metadata : ${result.getMetadatas()}">
            <h2 class="item-title"><a
                th:href="'/detail/' + ${metadata.getMagic()} + '/' + ${metadata.getInfohash()}"
                th:title="${metadata.getName()}" th:text="${metadata.getName()}" target="_blank"></a></h2>
            <div class="item-meta-info">
              <a title="Download using magnet" target="_blank"
                 th:href="'magnet:?xt=urn:btih:' + ${metadata.getInfohash()}" class="magnet"
                 onclick="popup();"><i class="fa fa-magnet"></i> 磁力链接</a>
              文件大小: <span class="item-meta-info-value" th:text="${metadata.getHumanFileSize()}"/>
              文件数量: <span class="item-meta-info-value" th:text="${metadata.getFileNum()}"/>
              收录时间: <span class="item-meta-info-value" th:text="${metadata.getDate()}"/>
              热度: <span class="item-meta-info-value" th:text="${metadata.getPopularity()}"/>
            </div>
            <ul class="item-file-list">
              <li class="file" th:each="file : ${metadata.getDigestFiles()}">
                <span class="file-name" th:utext="${file.getKey()}"/>
                <span class="file-size" th:text="${file.getValue()}"/>
              </li>
              <li th:if="${metadata.getFileNum() gt 10}">...</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="nav">
        <nav role="navigation">
          <ul class="pagination">
            <li class="button">
              <a th:href="'/recent?&p=' + ${pre}">« 上一页</a>
            </li>
            <li th:each="i : ${#numbers.sequence(startPage, startPage + pageNum - 1)}"
                class="button">
              <a th:href="'/recent?&p=' + ${i}" th:text="${i}"
                 th:if="${i} != ${curPage}"></a>
              <strong th:text="${i}" th:if="${i} == ${curPage}"></strong>
            </li>
            <li class="button">
              <a th:href="'/recent?&p=' + ${next}">下一页 »</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <div class="pull-left">
          @2018 <a href="http://skrbt.club/">SkrBT</a> is not a tracker and doesn't store any content and only collects torrent
          metadata (such as file names and file sizes) and a magnet link (torrent identifier). This
          means SKRBT is the entirely legal system. | <a href="/about">About</a>
        </div>
      </div>
    </div>
  </div>
  <div class="adsbox">&nbsp;</div>
</div>
</body>
<script>
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
</html>
