<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
</head>
<body>
<div class="container">
  <div class="site-wrapper-border"></div>
  <div class="header">
    <div class="header-content">
      <a href="https://btdb.to/"><img src="../static/img/logo_40.png" alt="BTDB LOGO" class="logo"></a>
      <div class="search-area">
        <form action="/search" method="get" accept-charset="utf-8" class="search-form">
          <input type="text" id="search-input" value="建国大业" title="BTDB Search" name="keyword"
                 maxlength="2048" class="search-input" aria-haspopup="false">
          <button class="search-btn"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="toolbar">
    <span class="sort">Order by: </span>
    <span class="active">Relevance</span>
    <a href="https://btdb.to/q/%E5%BB%BA%E5%9B%BD%E5%A4%A7%E4%B8%9A/?sort=size">Size</a>
    <a href="https://btdb.to/q/%E5%BB%BA%E5%9B%BD%E5%A4%A7%E4%B8%9A/?sort=num_files">Files</a>
    <a href="https://btdb.to/q/%E5%BB%BA%E5%9B%BD%E5%A4%A7%E4%B8%9A/?sort=time">AddTime</a>
    <a href="https://btdb.to/q/%E5%BB%BA%E5%9B%BD%E5%A4%A7%E4%B8%9A/?sort=popular">Popularity</a>
  </div>
  <div class="content clearfix">
    <div class="left-content">
      <h1 class="hide text-hide">建国大业 search result, Torrent Magnet</h1>
      <div class="result-stats">About 108 results (0.03 seconds)</div>
      <div class="search-ret">
        <ul class="search-ret-list">
          <li class="search-ret-item">
            <h2 class="item-title"><a
                href="https://btdb.to/torrent/WP65KX5Y9KhZoWBnQK7WsdK8gyqZmAcJOr.html" title="建国大业"><span
                class="highlight">建国大业</span></a></h2>
            <div class="item-meta-info">
              <a title="Download using magnet"
                 href="magnet:?xt=urn:btih:DA7F24837734CE4D8B94CB8AB20197C35F2C11B2" class="magnet"
                 onclick="popup();"><i class="fa fa-magnet"></i> Magnet Link</a>
              Size: <span class="item-meta-info-value">1.66 GB</span>
              Files: <span class="item-meta-info-value">3</span>
              AddTime: <span class="item-meta-info-value">2016-08-10 18:11:45</span>
              Popularity: <span class="item-meta-info-value">3</span>
            </div>
            <ul class="item-file-list">
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-video-o"></i></span>
                <span class="file-name">建国大业.mp4</span>
                <span class="file-size">1.66 GB</span>
              </li>
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name"></span>
                <span class="file-size">75.55 KB</span>
              </li>
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name">.1</span>
                <span class="file-size">49.00 B</span>
              </li>
            </ul>
          </li>
          <li class="search-ret-item">
            <h2 class="item-title">
              <a href="https://btdb.to/torrent/4oJjXvBKVNcrz6E5N4bxfK7E7O1JqdtdzKK.html" title="建国大业">
                <span class="highlight">建国大业</span>
              </a>
            </h2>
            <div class="item-meta-info">
              <a title="Download using magnet"
                 href="magnet:?xt=urn:btih:72C6B7F6EC5F8F80D38CEAF65FA2AF02733F8A4E"
                 class="magnet" onclick="popup();"><i class="fa fa-magnet"></i> Magnet Link</a>
              Size: <span class="item-meta-info-value">28.59 GB</span>
              Files: <span class="item-meta-info-value">122</span>
              AddTime: <span class="item-meta-info-value">2015-12-04 21:24:57</span>
              Popularity: <span class="item-meta-info-value">15</span>
            </div>
            <ul class="item-file-list">
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name">_</span>
                <span class="file-size">12.25 MB</span>
              </li>
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name">_.1</span>
                <span class="file-size">1.61 GB</span>
              </li>
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name">_.2</span>
                <span class="file-size">14.47 MB</span>
              </li>
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name">_.3</span>
                <span class="file-size">531.98 MB</span>
              </li>
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name">_.4</span>
                <span class="file-size">12.58 MB</span>
              </li>
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name">_.5</span>
                <span class="file-size">871.09 MB</span>
              </li>
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name">_.6</span>
                <span class="file-size">11.23 MB</span>
              </li>
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name">_.7</span>
                <span class="file-size">790.91 MB</span>
              </li>
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name">_.8</span>
                <span class="file-size">11.11 MB</span>
              </li>
              <li class="file">
                <span class="file-icon"><i class="fa fa-file-o"></i></span>
                <span class="file-name">_.9</span>
                <span class="file-size">619.17 MB</span>
              </li>
              ...
            </ul>
          </li>
        </ul>
      </div>
      <div class="nav">
        <nav role="navigation">
          <ul class="pagination">
            <li class="button">
              <a href="https://btdb.to/xxx" rel="prev">« Previous</a>
            </li>
            <li class="button">
              <a href="https://btdb.to/q/xxx">1</a>
            </li>
            <li class="button">
              <strong>2</strong>
            </li>
            <li class="button">
              <a href="https://btdb.to/q/xxx/3">3</a>
            </li>
            <li class="button">
              <a href="https://btdb.to/q/xxx/4">4</a>
            </li>
            <span class="ellipsis">…</span>
            <li class="button">
              <a href="https://btdb.to/q/xxx/10">10</a>
            </li>
            <li class="button">
              <a href="https://btdb.to/q/xxx/11">11</a>
            </li>
            <li class="button">
              <a href="https://btdb.to/q/xxx/3" rel="next">Next »</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <div class="pull-left">
          © 2016 BTDB.to | Bitcoin: <a href="bitcoin:17DzhgMEWyFBB9he3fhDJwpbECUJdGct58">17DzhgMEWyFBB9he3fhDJwpbECUJdGct58</a>
        </div>
        <div class="pull-right">
          <a href="https://btdb.to/">SSL</a> | <a href="https://btdb.to/about">About</a>
        </div>
        <div class="disclaimer pull-left">
          BTDB (btdb.to) is not a tracker and doesn't store any content and only collects torrent
          metadata (such as file names and file sizes) and a magnet link (torrent identifier). This
          means BTDB is the entirely legal system.
        </div>
      </div>
    </div>
  </div>
  <div class="adsbox">&nbsp;</div>
</div>
</body>
</html>