<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="keywords" content="磁力柠檬,磁力链,磁力链接,磁力搜索,网盘搜索,百度云搜索,电影资源,电视剧资源,热门电视剧,热门电影"/>
  <meta name="description" content="磁力柠檬是干净、好用的磁力链和网盘资源搜索引擎。通过对磁力链接进行深度的挖掘和整理，让我们更快捷、更平等的获取资源信息"/>
  <title>磁力柠檬 - 最懂你的磁力链接搜索引擎</title>

  <link rel="shortcut icon" href="/img/lemon/logo.ico" type="image/x-icon"/>

  <!-- Bootstrap -->
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href="/css/lemon/style.css" rel="stylesheet">

  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?2f0d0786f306abba1d2255d476671ce8";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>

<nav class="navbar-default navbar-static-top header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <a class="navbar-brand brand-header hidden-xs" href="/">
          <img src="/img/lemon/logo.png" class="img-responsive center-block brand-img" alt="Brand">
        </a>
      </div>
      <div class="col-md-5">
        <a class="navbar-brand brand-header visible-xs" href="/">
          <img src="/img/lemon/logo.ico" class="img-responsive brand-img" alt="Brand">
        </a>
        <form action="/search" method="get" accept-charset="utf-8">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control navbar-btn input-lg border-radius"
                   placeholder="Search for...">
            <span class="input-group-btn">
					  <button class="btn btn-default navbar-btn btn-lg border-radius" type="submit">
						  <span class="glyphicon glyphicon-search" aria-hidden="true"/>
					  </button>
				  </span>
          </div>
        </form>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-5 left">
      <div class="page-header">
        <h3>关于我们</h3>
      </div>
      <h5>如果您在使用过程中遇到疑问或发现我们存在的bug， 请务必联系我们:)</h5>
      <h5>如果您有商业合作的意向，也请务必联系我们</h5>
      <h5>如果您有资源无法找到需要帮助的话， 也请告诉我们</h5>
      <h5>您的邮件我们都会阅读和尽快回复的:)</h5>
      <h5>联系邮箱：<a href="mailto:#">lemonciliorg@gmail.com</a></h5>
    </div>
    <div class="col-md-2 right">
      <img src="/img/lemon/qrcode_8.jpg" class="img-responsive center-block" alt="Responsive image">
      <p class="text-center">微信搜索关注公众号：磁力柠檬</p>
      <p class="text-center">获取最新地址和资讯</p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<nav class="navbar-default footer">
  <div class="container">
    <p class="navbar-text">
      @2019 |
      <a href="/">磁力柠檬 |</a>
      <a href="/about">联系我们 |</a>
      数据完全采集于网络,没在服务器存储任何资源文件!
    </p>
  </div>
</nav>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
