<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title th:text="${metadata.getName()} + ' - 磁力链接与种子下载'"></title>
  <meta name="keywords" content="磁力柠檬,磁力链,磁力链接,磁力搜索,网盘搜索,百度云搜索,电影资源,电视剧资源,热门电视剧,热门电影"/>
  <meta name="description" th:content="${metadata.getName()} + ' 种子,磁力链接'"/>

  <link rel="shortcut icon" href="/img/lemon/logo.ico" type="image/x-icon"/>

  <!-- Bootstrap -->
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href="/css/lemon/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?2f0d0786f306abba1d2255d476671ce8";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>

<nav class="navbar-default navbar-static-top header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <a class="navbar-brand brand-header hidden-xs" href="/">
          <img src="/img/lemon/logo.png" class="img-responsive center-block brand-img" alt="Brand">
        </a>
      </div>
      <div class="col-md-5">
        <a class="navbar-brand brand-header visible-xs" href="/">
          <img src="/img/lemon/logo.ico" class="img-responsive brand-img" alt="Brand">
        </a>
        <form action="/search" method="get" accept-charset="utf-8">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control navbar-btn input-lg border-radius"
                   placeholder="Search for...">
            <span class="input-group-btn">
							<button class="btn btn-default navbar-btn btn-lg border-radius" type="submit">
								<span class="glyphicon glyphicon-search" aria-hidden="true"/>
							</button>
						</span>
          </div>
        </form>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-5 left">
      <div class="page-header">
        <h3 th:text="${metadata.getName()}"/>
      </div>
      <div class="panel panel-default visible-xs border-radius">
        <div class="panel-body">
          <p class="text-center">微信搜索关注公众号：磁力柠檬</p>
          <p class="text-center">获取最新地址和资讯</p>
        </div>
      </div>

      <div class="panel panel-default border-radius">
        <div class="panel-heading">
          <h3 class="panel-title">磁链地址</h3>
        </div>
        <div class="panel-body">
          <i class="fa fa-magnet"></i>
          <a th:href="'magnet:?xt=urn:btih:' + ${metadata.getInfohash()}"
             th:text="'magnet:?xt=urn:btih:' + ${metadata.getInfohash()}"></a>
        </div>
      </div>

      <div class="panel panel-default border-radius">
        <div class="panel-heading">
          <h3 class="panel-title">资源下载</h3>
        </div>
        <div class="panel-body">
          <p>
            <a title="bitqiu" class="btn btn-primary" target="_blank" style="border-radius: 0px;"
               th:href="'https://pan.bitqiu.com/promote-invite?mafrom=promote&mipos=cps&uid=108402133&agentdown=magnet:?xt=urn:btih:' + ${metadata.getInfohash()}">
              在线播放
            </a>
            <a title="bitqiu" class="btn btn-success" target="_blank" style="border-radius: 0px;"
               th:href="'https://pan.bitqiu.com/promote-invite?mafrom=promote&mipos=cps&uid=108402133&agentdown=magnet:?xt=urn:btih:' + ${metadata.getInfohash()}">
              高速下载
            </a>
            <a title="bitqiu" class="btn btn-info" target="_blank" style="border-radius: 0px;"
               th:href="'https://pan.bitqiu.com/promote-invite?mafrom=promote&mipos=cps&uid=108402133&agentdown=magnet:?xt=urn:btih:' + ${metadata.getInfohash()}">
              离线下载
            </a>
          </p>
          <p>
            <a title="bitqiu" target="_blank"
               th:href="'https://pan.bitqiu.com/promote-invite?mafrom=promote&mipos=cps&uid=108402133&agentdown=magnet:?xt=urn:btih:' + ${metadata.getInfohash()}">
              <strong style="font-size: 15px; color: #0003F0; margin-top: 10px;">下载没速度？点这里！</strong>
            </a>
          </p>
        </div>
      </div>

      <div class="panel panel-default border-radius" id="ld" style="display: none">
        <div class="panel-heading" id="ld-title">
        </div>
        <div class="panel-body" id="ld-content">
        </div>
      </div>

      <div class="panel panel-default border-radius">
        <div class="panel-heading">
          <h3 class="panel-title">磁链详情</h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li th:text="'种子哈希：' + ${metadata.getInfohash()}"/>
            <li th:text="'文件数目：' + ${metadata.getFileNum()}"/>
            <li th:text="'文件大小：' + ${metadata.getHumanFileSize()}"/>
            <li th:text="'收录时间：' + ${metadata.getDate()}"/>
          </ul>
        </div>
      </div>

      <div class="panel panel-default border-radius">
        <div class="panel-heading">
          <h3 class="panel-title">文件列表</h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li th:each="file : ${metadata.getDigestFiles(100)}">
              <span th:utext="${file.getKey()}"/>
              <span class="badge" th:text="${file.getValue()}"/>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 right hidden-xs">
      <img src="/img/lemon/qrcode_8.jpg" class="img-responsive center-block" alt="Responsive image">
      <p class="text-center">微信搜索关注公众号：磁力柠檬</p>
      <p class="text-center">获取最新地址和资讯</p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<nav class="navbar-default footer">
  <div class="container">
    <p class="navbar-text">
      @2019 |
      <a href="/">磁力柠檬 |</a>
      <a href="/about">联系我们 |</a>
      数据完全采集于网络,没在服务器存储任何资源文件!
    </p>
  </div>
</nav>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<script>
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>

<script src="/js/dynamicad.js"></script>

</html>
