<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title th:text="${keyword} + ' - 磁力链接与种子下载'">Search</title>
  <meta name="keywords" th:content="${keyword} + ',种子下载,磁力链接,BT下载,迅雷下载'"/>
  <meta name="description" th:content="${keyword} + ' 种子,磁力链接搜索结果'"/>

  <link rel="shortcut icon" href="/img/lemon/favicon.ico" type="image/x-icon"/>

  <!-- Bootstrap -->
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href="/css/lemon/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?2f0d0786f306abba1d2255d476671ce8";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>

<nav class="navbar-default navbar-static-top header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <a class="navbar-brand brand-header hidden-xs" href="/">
          <img src="/img/lemon/logo.png" class="img-responsive center-block brand-img" alt="Brand">
        </a>
      </div>
      <div class="col-md-5">
        <a class="navbar-brand brand-header visible-xs" href="/">
          <img src="/img/lemon/logo_small.png" class="img-responsive brand-img" alt="Brand">
        </a>
        <form action="/search" method="get" accept-charset="utf-8">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control navbar-btn input-lg border-radius"
                   th:value="${keyword}">
            <span class="input-group-btn">
							<button class="btn btn-default navbar-btn btn-lg border-radius" type="submit">
								<span class="glyphicon glyphicon-search" aria-hidden="true"/>
							</button>
						</span>
          </div>
        </form>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-5 left">
      <ul class="list-inline">
        <li>排序:</li>
        <li class="sort-active" th:if="${sort} eq 'relevance'">相关度</li>
        <li><a class="sort-unactive" th:href="'/search?keyword=' + ${keyword} + '&s=relevance'"
               th:unless="${sort} eq 'relevance'">相关度</a></li>
        <li class="sort-active" th:if="${sort} eq 'length'">文件大小</li>
        <li><a class="sort-unactive" th:href="'/search?keyword=' + ${keyword} + '&s=length'"
               th:unless="${sort} eq 'length'">文件大小</a></li>
        <li class="sort-active" th:if="${sort} eq 'filenum'">文件数量</li>
        <li><a class="sort-unactive" th:href="'/search?keyword=' + ${keyword} + '&s=filenum'"
               th:unless="${sort} eq 'filenum'">文件数量</a></li>
        <li class="sort-active" th:if="${sort} eq 'date'">收录时间</li>
        <li><a class="sort-unactive" th:href="'/search?keyword=' + ${keyword} + '&s=date'"
               th:unless="${sort} eq 'date'">收录时间</a></li>
      </ul>
      <h4>
        <small th:text="'找到约 ' + ${result.getTotalHits()} + ' 条结果 (用时' + ${result.getTook()} + ')'"/>
      </h4>

      <div class="panel panel-default visible-xs border-radius">
        <div class="panel-body">
          <p class="text-center">微信搜索关注公众号：磁力柠檬</p>
          <p class="text-center">获取更多资讯</p>
        </div>
      </div>

      <div class="panel panel-default border-radius" id="lsh" style="display: none">
        <div class="panel-heading" id="lsh-title">
        </div>
        <div class="panel-body" id="lsh-content">
        </div>
      </div>

      <div class="panel panel-default border-radius" th:each="metadata : ${result.getMetadatas()}">
        <div class="panel-heading">
          <h3 class="panel-title link">
            <a th:href="'/detail/' + ${metadata.getMagic()} + '/' + ${metadata.getInfohash()}"
               th:title="${metadata.getName()}" th:utext="${metadata.getHighlightName()}" target="_blank">
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li th:each="file : ${metadata.getDigestFiles()}">
              <span th:utext="${file.getKey()}"/>
              <span class="badge" th:text="${file.getValue()}"/>
            </li>
            <li th:if="${metadata.getDigestFiles().size() gt 10}">...</li>
          </ul>
        </div>
        <div class="panel-footer">
          <h4>
            <small>
              <a title="Download using magnet" target="_blank"
                 th:href="'/detail/' + ${metadata.getMagic()} + '/' + ${metadata.getInfohash()}">
                <i class="fa fa-magnet"></i> 磁力链接
              </a>
              文件大小: <span th:text="${metadata.getHumanFileSize()}"/>
              文件数量: <span th:text="${metadata.getFileNum()}"/>
              收录时间: <span th:text="${metadata.getDate()}"/>
            </small>
          </h4>
        </div>
      </div>

      <div class="panel panel-default border-radius">
        <div class="panel-heading">
          <h3 class="panel-title link">
            友情链接
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li th:each="friendLink : ${friendLinks}">
              <a th:href="${friendLink.getUrl()}" th:text="${friendLink.getName()}" target="_blank"/>
            </li>
          </ul>
        </div>
      </div>

      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a th:href="'/search?keyword=' + ${keyword} + '&s=' + ${sort} + '&p=' + ${pre}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li th:each="i : ${#numbers.sequence(startPage, curPage - 1)}" th:if="${startPage} != ${curPage}">
            <a th:href="'/search?keyword=' + ${keyword} + '&s=' + ${sort} + '&p=' + ${i}" th:text="${i}"></a>
          </li>

          <li class="active">
            <a th:href="'/search?keyword=' + ${keyword} + '&s=' + ${sort} + '&p=' + ${curPage}" th:text="${curPage}">
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li th:each="i : ${#numbers.sequence(curPage + 1, startPage + pageNum - 1)}"
              th:if="${startPage + pageNum - 1} != ${curPage}">
            <a th:href="'/search?keyword=' + ${keyword} + '&s=' + ${sort} + '&p=' + ${i}" th:text="${i}"></a>
          </li>

          <li>
            <a th:href="'/search?keyword=' + ${keyword} + '&s=' + ${sort} + '&p=' + ${next}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-2 right hidden-xs">
      <img src="/img/lemon/qrcode_8.png" class="img-responsive center-block" alt="Responsive image">
      <p class="text-center">推荐关注微信公众号：磁力柠檬</p>
      <p class="text-center">获取更多资讯</p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<nav class="navbar-default footer">
  <div class="container">
    <p class="navbar-text">
      @2019 |
      <a href="/">磁力柠檬 |</a>
      <a href="/about">联系我们 |</a>
      数据完全采集于网络,没在服务器存储任何资源文件!
    </p>
  </div>
</nav>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
<!--<script src="/js/dynamicad.js"></script>-->
</html>
